.auth-container {
    width: 390px;
    margin: 0 auto;
    background: #F6F6F6;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Ubuntu';
}

.logo-container {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Ubuntu';

    span {
        font-weight: 100;
        color: orange;

    }
}


.logo {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .auth-container {
        width: 100% !important;
    }
}